<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    
    <body>
        <div class="container mt-4">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>fecha de nacimiento</th>
                        <th>fecha de registro</th>
                    </tr>
                    <tbody>
                        <tr th:each="contacto:${contactos}">
                            <td>${contactos.id}</td>
                            <td>${contactos.Name}</td>
                            <td>${contactos.fechaNacimiento}</td>
                            <td>${contactos.fechaRegistro}</td>
                            <td>
                                <a class="btn btn-warning">ELIMINAR</a>
                                <a class="btn btn-danger">EDITAR</a>
                            </td>
                        </tr>
                    </tbody>
                </thead>
            </table>
        </div>
    </body>
</html>
